<form  action="/home/Insertar">
<table id="tablaFormulario">
    <tr>
        <td id="caja">Número</td>
        <td id="valor"><input type="text" name="numero"></td>
    </tr>
    <tr>
        <td id="caja">Concepto</td>
        <td id="valor"><input type="text" name="concepto"></td>
    </tr>
    <tr>
        <td id="caja">Importe</td>
        <td id="valor"><input type="text" name="importe"></td>
    </tr>
    <tr>
        <td colspan="2" id="boton"><input type="submit" value="Enviar"></td>
    </tr>
</table>
</form>
