<form action="/home/insertar">

<p>Numero<input type="text" name="numero" ></p>
<p>Concepto<input type="text" name="concepto" ></p>
<p>Importe<input type="text" name="importe" ></p>
<p><input type="submit" value="aceptar"></p>
</form>