@{
    ViewData["Title"] = "Formulario";

}

<head>
    <style> table, th, td 
        {
            border: 2px solid rgb(145, 68, 68);
            border-collapse: separate;
            border-spacing: 15px;
            border-collapse: collapse;
            text-align: center;
        }</style>
</head>
<body>
    
<p>Formulario</p>

<form action="Insertar">
    <fieldset>
        <legend>Formulario Facturacion</legend>
        <p>
            <label for="Numero">Numero</label>
            <input type="text" name="numero" id="Numero" placeholder="introduce numero">
        </p>
        <p>
            <label for="Concepto">Concepto</label>
            <input type="text" name="concepto" id="Concepto" placeholder="introduce concepto">
        </p>
        <p>
            <label for="Importe">Importe</label>
            <input type="text" name="importe" id="Importe" placeholder="introduce importe">
        </p>
         <p>
            <input type="submit" value="enviar" id="enviar">
        </p>


    </fieldset>
</form>
    <!--<a href="/factura/formulario">Ir al formulario</a>-->
</body>


