@{
    ViewData["Title"] = "Home Page";
}



@foreach (var factura in ViewBag.listaFacturas)
{
    <p>@factura.Numero</p><span>hola kevin 200</span>
      <p>@factura.Concepto</p>
       <p>@factura.Importe</p>
}
