@{
    ViewData["Title"] = "Home Page";
}

@ViewBag.concepto

<table id="tablaFacturas">
    <tr>
        <th>Número</th>
        <th>Concepto</th>
        <th>Importe</th>
    </tr>
    @foreach (var factura in ViewBag.listaFacturas)
    {
        <tr>
            <td>@factura.Numero</td>
            <td>@factura.Concepto</td>
            <td>@factura.Importe</td>
        </tr>
    }
</table>