<form action="/Home/Insertar">
    <fieldset>
        <legend>formulario facturacion</legend>
        <p><label for="Concepto">Concepto: </label>
            <input type="text" name="Concepto" id="Concepto" placeholder="introduce un concepto">
        </p>
        <p><label for="Importe">Importe: </label>
            <input type="text" name="Importe" id="Importe" placeholder="introduce un importe">
        </p>
        <p>
            <input type="submit" name="enviar" />
        </p>
    </fieldset>
</form>